{{>layout/header}}

    <h1>게시글 수정</h1>

    <div class="col-md-12">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="id">글 번호</label>
                    <input type="text" class="form-control" id="id" value="{{posts.id}}" readonly> <!-- post.id -->
                </div>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" value="{{posts.title}}">
                </div>
                <div class="form-group">
                    <label for="author">작성자</label>
                    <input type="text" class="form-control" id="author" value="{{posts.author}}" readonly> <!-- readonly -->
                </div>
                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea class="form-control" id="content">{{posts.content}}</textarea>
                </div>
            </form>
            <a href="/" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
            <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
        </div>
    </div>

{{>layout/footer}}

<!-- post.id: 머스테치는 객체의 필드 접근시 점(Dot)으로 구분, 즉 Post 클래스의 id애 대한 접근은 post.id로 사용함 -->
<!-- readonly: input 태그에 읽기 기능만 허용한 속성, id와 author는 수정할 수 없도록 읽기만 허용 그래야 본인 또는 수정한 사람이 변경되지 않음, id가 변경되면 다른 게시글이 수정되거나 오류발생 -->